@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
	cursor: url('https://cdn.prod.website-files.com/6708f85ff3d3cba6aff436fb/671251b239d7aeb290a31ac5_cursor-default%402x.svg')
			2 0,
		auto;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
